/* 横幅が640~820pxの時 モバイル横向き用 */

@charset "utf-8";

#profile img{
  width: 220px;
  height: 220px;
}

#profile p{
  font-size: 14px;
  text-align: left;
}

.product_box{
  width: 200px;
  height: 200px;
}

#product img{
  width: 200px;
  height: 200px;
}